<div class="form-wrapper">
  <form [formGroup]="authForm" novalidate (ngSubmit)="submit()">
    <section class="input-section">
        <label>Логин*</label>
        <div class="input-wrapper">
          <input class="form-input" name="login"
          [ngClass]="{error: isAuthErr}"
          formControlName="userLogin"
          placeholder="mail@simmmple.com"
          (blur)="onLoginInputBlur()"
          (change)="inputChange()"
        />
          <mat-icon  *ngIf="isAuthErr" class="material-icons-outlined input-icon-err">error_outlined</mat-icon>
        </div>
      </section>
    <!-- (focus)="onPasswordInputFocus()" -->
    <section class="input-section">
        <label>Пароль*</label>
        <div class="input-wrapper">
          <input class="form-input login" name="password"
            [ngClass]="{error: isAuthErr}"
            [type]="hide ? 'password' : 'text'" formControlName="userPassword"
            placeholder="Мининмум 8 символов"
          />
          <mat-icon (click)="hide = !hide" class="input-icon" mat-icon-button>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
    </section>
    <section class="checkbox-section">
      <div class="checkbox-wrapper">
        <input type="checkbox" name="checkbox" id="userCheckbox" formControlName="userCheckbox">
        <label for="userCheckbox">Запомнить</label>
      </div>
      <a href="#">Забыли пароль?</a>
    </section>
    <section class="button-section">
      <button mat-flat-button [disabled]="authForm.invalid">Войти</button>
    </section>
</form>
</div>
