<div class="form-wrapper">
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <section class="input-section">
        <label>Логин*</label>
        <input class="form-input" name="login"   formControlName="userLogin" placeholder="mail@simmmple.com"/>
    </section>
    <section class="input-section">
        <label>Пароль*</label>
        <div class="input-wrapper">
          <input class="form-input login" name="password"  [type]="hide ? 'password' : 'text'" formControlName="userPassword" placeholder="Мининмум 8 символов"/>
          <button class="input-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
    </section>
    <section class="checkbox-section">
      <div class="checkbox-wrapper">
        <input type="checkbox" name="checkbox" id="userCheckbox" formControlName="userCheckbox">
        <label for="userCheckbox">Запомнить</label>
      </div>
      <a href="#">Забыли пароль?</a>
    </section>
    <section class="button-section">
      <button mat-flat-button [disabled]="myForm.invalid">Войти</button>
    </section>
</form>
</div>
