<div class="dashboard-wrapper">
  <app-user-card [userInfo] = "user" class="user-card"></app-user-card>
  <div class="input-wrapper">
    <h3 class="dashboard-title">Сообщение</h3>
    <form [formGroup]="inputForm" class="dashboard-form">
      <input type="text" name="warningMassage" formControlName="warningMassage" class="dashboard-input">
    </form>
      <div class="button-section">
        <button class="error button" id="error" (click)="buttonClick($event)">Ошибка</button>
        <button class="warning button" id="warning" (click)="buttonClick($event)">Предупреждение</button>
        <button class="ok button" id="ok" (click)="buttonClick($event)">Успех</button>
        <button class="massage button" id="message" (click)="messageButtonClick()">Сообщение</button>
    </div>
  </div>
</div>
